@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/ng2-slim-loading-bar/style.css';

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.dropdown-toggle {
  cursor: pointer;
}
